<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement(EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category  Ced
 * @package   Ced_Etsy
 * @author    CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright Copyright CEDCOMMERCE(http://cedcommerce.com/)
 * @license   http://cedcommerce.com/license-agreement.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ced_Etsy::Etsy"
            title="Etsy Integration"
            translate="title"
            module="Ced_Etsy"
            sortOrder="14"
            resource="Ced_Etsy::Etsy"
         />
            <add id="Ced_Etsy::configuration"
                title="Etsy Configuration"
                translate="title"
                module="Ced_Etsy"
                sortOrder="1"
                parent="Ced_Etsy::Etsy"
                resource="Ced_Etsy::Etsy"
             />
                <add id="Ced_Etsy::Etsy_configuration"
                    title="Etsy Configuration" 
                    module="Ced_Etsy"
                    sortOrder="1" 
                    parent="Ced_Etsy::configuration" 
                    action="adminhtml/system_config/edit/section/etsy_config"
                    resource="Ced_Etsy::Etsy"
                />

            <add id="Ced_Etsy::profile"
                title="Etsy Profile Manager"
                translate="title"
                module="Ced_Etsy"
                sortOrder="2"
                parent="Ced_Etsy::Etsy"
                resource="Ced_Etsy::Etsy"
            />    
                <add id="Ced_Etsy::Etsy_profile"
                    title="Profile Manager"
                    translate="title"
                    module="Ced_Etsy"
                    sortOrder="1"
                    parent="Ced_Etsy::profile"
                    action="etsy/profile/index"
                    resource="Ced_Etsy::Etsy"
                />

            <add id="Ced_Etsy::product"
                title="Etsy Product Listing"
                translate="title"
                module="Ced_Etsy"
                sortOrder="3"
                parent="Ced_Etsy::Etsy"
                resource="Ced_Etsy::Etsy"
            />    
                <add id="Ced_Etsy::Etsy_product"
                    title="Etsy Product Listing"
                    translate="title"
                    module="Ced_Etsy"
                    sortOrder="1"
                    parent="Ced_Etsy::product"
                    action="etsy/product/index"
                    resource="Ced_Etsy::Etsy"
                />  

            <add id="Ced_Etsy::Etsy_orders"
                title="Etsy Orders"
                translate="title"
                module="Ced_Etsy"
                sortOrder="4"
                parent="Ced_Etsy::Etsy"
                resource="Ced_Etsy::Etsy"
             />

                <add id="Ced_Etsy::etsy_order_listing"
                    title="Etsy Orders Listing"
                    translate="title"
                    module="Ced_Etsy"
                    sortOrder="1"
                    parent="Ced_Etsy::Etsy_orders"
                    action="etsy/order/index"
                    resource="Ced_Etsy::Etsy"
                 />
    </menu>
</config>
