<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="gclink" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>GCLink Settings</label>
            <tab>webext_tab</tab>
            <resource>POSIMWebExt_GCLink::config</resource>
            <group id="connection" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>GCLink Connection Settings</label>

                <field id="gclink_store_id" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Store ID</label>
                </field>
                <field id="gclink_user" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Username</label>
                </field>
                <field id="gclink_pass" translate="label" type="password" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Password</label>
                </field>
                <field id="gclink_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>GCLink Transaction URL</label>
                </field>

            </group>
            <group id="defaults" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Defaults</label>
                <field id="min_value" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Minimum Gift Card Value</label>
                </field>
                <field id="max_value" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Maximum Gift Card Value</label>
                </field>
                <field id="prefix" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Prefix</label>
                    <comment><![CDATA[Optional. Set a 1-3 letter prefix for gift card numbers]]></comment>
                </field>
                <field id="next_num" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Next Gift Card Number</label>
                </field>
                <field id="num_increment" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>New Gift Card Increment</label>
                </field>
                <field id="enable_virtual" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable Virtual Gift Cards</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_physical" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable Physical Gift Cards</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>
            <group id="email_options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Email Options</label>
                <field id="announcement_email" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Gift Card Announcement Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="activated_email" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Gift Card Activated Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>