<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <requestforquote>
            <tag_setting_group>
               <call_us_on_label>Call Us on 98-XXX-XX-7845</call_us_on_label>
			   <color>#000000</color>
               <call_us_on_contact_number>Call 98-XXX-XX-7845 For Price.</call_us_on_contact_number>
			   <enquire_now_button_text>Enquire Now</enquire_now_button_text>
			   <enquiry_form_title>Enquiry Form</enquiry_form_title>
			   <send_enquiry_emails_to>your_mail_id@domain.com</send_enquiry_emails_to>
            </tag_setting_group>
            <enquiry_acknowledgement_settings>
                <subject>Enquiry Details</subject>
				<email_sender>your_mail_id@domain.com</email_sender>
				<sender_name>Your Name</sender_name>
				<message>Thank you for your interest.
Your request has been forwarded to the concerned department and we will be in touch with you shortly.</message>
            </enquiry_acknowledgement_settings>
        </requestforquote>
    </default>
</config>