<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="posimwebext_webextmanager" frontName="posimwebext_webextmanager">
            <module name="POSIMWebExt_WebExtManager"/>
        </route>
    </router>
</config>
